.Person {
  width: 60%; 
  margin: 16px auto;
  border: 1px solid #EEEEEE;
  box-shadow: 0 2px 3px #CCCCCC;
  text-align: center;
  padding: 16px;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}